
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TODO List App</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/background.css">
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>

    <!-- html code for the animated background -->
    <div class="purple"></div>
    <div class="medium-blue"></div>
    <div class="light-blue"></div>
    <div class="red"></div>
    <div class="orange"></div>
    <div class="yellow"></div>
    <div class="cyan"></div>
    <div class="light-green"></div>
    <div class="lime"></div>
    <div class="magenta"></div>
    <div class="lightish-red"></div>
    <div class="pink"></div>

    </body>
    <div id="first-div">
        <section class="title center-text-align">
            <h1><i class="fas fa-pencil-alt" style="color:#ff2a6a; margin-right: 10px;"></i>TODO-List App</h1>
        </section>
        
        <hr class="common-horizontal-line">
    </div>
</html>